/* drag and drops */

.draggable {
  padding:0.5em;
  margin-bottom:1em;
  border:2px solid #ddd;
}
.droppable {
  padding:5em;
  margin-bottom:5em;
  border:2px solid #ddd;
}
#icon1 {
  padding-top: 7em;
  padding-bottom: 8em;
}
#icon2 {
  padding-top: 7em;
  padding-bottom: 8em;
}
#image {
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom:1em;
}
#doc {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom:1em;
}
#info {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom:1em;
}
#comment {
  padding-top: 8em;
  padding-bottom: 8em;
}

.docs {
  background:#fbe3e4;
  color:#8a1f11;
  border-color:#fbc2c4;
}
.docs a {
  color:#8a1f11;
}

.images {
  background:#fff6bf;
  color:#514721;
  border-color:#ffd324;
}
.images a {
  color:#514721;
}

.icons {
  background:#e6efc2;
  color:#264409;
  border-color:#c6d880;
}
.icons a {
  color:#264409;
}

.data {
  background:#d5edf8;
  color:#205791;
  border-color:#92cae4;
}
.data a {
  color:#205791;
}

.comments {
  background:#e6edf8;
  color:#315791;
  border-color:#a3cae4;
}
.comments a {
  color:#315791;
}

/* ------------------------------ */
/* Big NewSite button */
a#site_button {
  float: right;
  padding: 1em;
  margin-bottom: 1em;
  border:2px solid #ddd;
	display: block;
	text-align: center;
	width: 300px;
	color: #415791;
  border-color: #b3cae4;
	background: #e6edf8;
	font-size: 200%; 
	font-style: italic;
  font-family: Serif;
}

a.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


/* -------------------------- */
header img {
  padding: 10px;
  background: #fff;
}
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}


/* forms */
input.tfield {
  width: 100px;
  margin: auto;
}

/* -------------------------------------------------------------- */
/* Error Explanations */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: orange;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid orange;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: orange;
  color: #fff;
}

#error_explanation p {
  color: #333; 
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


