<div class="span-24 colborder">

  <div class="span-5 colborder">
    <%= render 'left' %>
  </div>

  <div class="span-10 colborder">
    <%= render 'center' %>
  </div>

  <div class="span-7 last"> 
    <%= render 'right' %>
  </div>
</div>
