<h2>Choose Site Elements</h2>
<h2 align="center">Site name</h2>

<h4 align="center">Image</h4>
<div id="image", class="droppable images">
  <span id="add">Add an image here</span>
</div>

<h4 align="center">Flyer</h4>
<div id="doc", class="droppable docs">
  <span id="add">Add an flyer here</span>
</div>


<h4 align="center">Information Fields</h4>
<div id="info" class="droppable data" >
    <span id="add">Add text, number date and time fields here</span>
</div>
