<h3 align="center">Image Area</h3>

<div id="icon1", class="droppable icons">
  <span id="add">Add a small image here</span>
</div>
<div id="icon2", class="droppable icons">
  <span id="add">Add a small image here</span>
</div>

