<h4 align="center">Toolbar</h4>

<div class="draggable images">Image</div>
<div class="draggable icons">Icon</div>
<div class="draggable docs">Document</div>
<div class="draggable data">Text</div>
<div class="draggable data">Number</div>
<div class="draggable data">Date</div>
<div class="draggable data">Time</div>
<div class="draggable comments">Text Box</div>

