<div class="span-4">
  <h3>liquiDo Sites</h3>
  <hr />
  <ul>
  <% @sites.each do |site| %>
    <li><%= link_to site.name, site %></li>
  <% end %>
  </ul>
</div>

<div class="span-20 last">
  <%= link_to 'Create New Site', new_site_path, :class => "newsite_button round" %>
</div>
