<div class="span-5 colborder">
  <h3>liquiDo Sites</h3>
  <hr />
  <ul>
  <% @sites.each do |site| %>
    <li><%= link_to site.name, site %></li>
  <% end %>
  </ul>
</div>

<div class="span-18 last">
  <%= link_to 'Create New Site', new_site_path, :class => "round", 
      :id => "site_button"  %>
</div>
