<header>
      <div class="span-20 last">
      <nav align="right" class="large">
        <ul>
          <li><%= link_to 'Home', root_path, :class => "quiet" %></li>
        </ul>
      </nav>
      </div>
      <h1 id="logo" class="span-16">
        <%= link_to logo, root_path %>
      </h1>
    <hr />

</header>
